<div class="battle">
  <div class="battle__buttons">
    <app-button [type]="'primary'">ПРАВИЛА ИГРЫ</app-button>
    <app-button [type]="'danger'">ВЫЙТИ ИЗ ИГРЫ</app-button>
  </div>
  <div class="battle__info">
    <app-player 
      class="battle__info-player"
      [name]="'Игрок1'"
      [score]="20">
    </app-player>
    <div class="battle__infor-timer"></div>
    <app-player 
      class="battle__info-opponent"
      [name]="'Игрок2'"
      [score]="20">
    </app-player>
  </div>
  <div class="battle__platform">
    <app-board class="battle__platform-board" [board]="gameService.player.board.grid"></app-board>
    <div class="battle__platform-message">Ваш ход!</div>
    <app-board class="battle__platform-board" [board]="gameService.player.board.grid"></app-board>
  </div>
</div>