<div class="battle">

  <div class="battle__buttons">
    <app-button [type]="'primary'">GAME RULES</app-button>
    <app-button [type]="'danger'">EXIT GAME</app-button>
  </div>

  <div class="battle__info">
    <app-player
      class="battle__info-player"
      [leftSide]="true"
      [name]="gameService.player.name"
      [score]="gameService.player.score">
    </app-player>

    <app-timer [time]="gameService.game.time | async"></app-timer>
    
    <app-player 
      class="battle__info-player"
      [name]="gameService.opponent.name"
      [score]="gameService.opponent.score">
    </app-player>
  </div>

  <div class="battle__platform">
    <app-board 
      class="battle__platform-board" 
      [board]="gameService.player.board.gridSubject | async">
    </app-board>

    <div class="battle__platform-message">
      {{ gameService.game.turn === 'PLAYER' ? 'Your turn!' : "Opponent's turn!" }}
    </div>

    <app-board 
      class="battle__platform-board" 
      [board]="gameService.opponent.board.gridSubject | async" 
      (onSquareClick)="makeShot($event)">
    </app-board>
  </div>

  <app-message
    [visible]="messageService.visible | async"
    [config]="messageService.currentMessage | async">
  </app-message>
  
</div>