@import '../../../assets/styles/variables.scss';

.battle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: map-get($color-primary, 600);
    margin: 2rem 0 4rem 0;
    padding: 0.5rem;
  }

  &__info-player {
    height: 100%;
  }

  &__platform {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
  }

  &__platform-message {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: map-get($color-primary, 800);
  }

}