@import '../../../../assets/styles/variables.scss';

.board {

  &__row {
    display: flex;
  }
  
  &__square {
    width: 3rem;
    height: 3rem;
    box-shadow: 0px 0px 0px 1px map-get($color-neutral, 600) inset;
    background-color: map-get($color-primary, 600);

    &_drop {
      background-color: map-get($color-success, 500);
    }
    
    &_forbidden {
      background-color: map-get($color-danger, 500);
    }
    
    &_ship {
      background-color: map-get($color-neutral, 500);
    }
    
    &_miss {
      background: 
        map-get($color-primary, 500)
        url('../../../../assets/img/miss.svg') center/30% no-repeat;
    }
    
    &_hit {
      background: 
        map-get($color-neutral, 500)
        url('../../../../assets/img/hit.svg') center/90% no-repeat;
    }
  }

}