<div class="board">
  <div class="board__row" *ngFor="let row of board; let i = index">
    <div *ngFor="let square of row; let j = index">  
      <div
        [ngClass]="{
          'board__square': true,
          'board__square_drop': square.isDropZone,
          'board__square_forbidden': square.isForbidden,
          'board__square_ship': square.isShip,
          'board__square_miss': square.isMiss,
          'board__square_hit': square.isHit
        }"
        (mouseover)="squareHover(square)"
        (mouseout)="squareLeave(square)"
        (click)="squareClick(square)">
          <ng-container *ngIf="i == 0">
            <div class="board__squre-marker board__squre-marker_top">{{ letters[j] }}</div>
          </ng-container>
          <ng-container *ngIf="j == 0">
            <div class="board__squre-marker board__squre-marker_left">{{ numbers[i] }}</div>
          </ng-container>
      </div>
    </div>
  </div>
</div>