<div class="home">
  
  <div class="home__text">
    Sea Battle
  </div>

  <form 
    class="home__form"
    #ngForm="ngForm"
    [formGroup]="form"
    (ngSubmit)="submit()">

    <app-toggle
      class="home__form-toggle"
      [controllers]="controllers"
      (onSwitch)="changeFormMode($event);">
    </app-toggle>

    <app-input
      class="home__form-input"
      formControlName="name"
      [invalid]="form.get('name')?.invalid && ngForm.submitted"
      [placeholder]="'Enter name'"
    ></app-input>

    <div class="error-message" *ngIf="form.get('name')?.hasError('required') && ngForm.submitted">
      Required field
    </div>

    <div class="error-message" *ngIf="form.get('name')?.hasError('minlength') && ngForm.submitted">
      Minimum number of characters {{ form.get('name').errors.minlength.requiredLength }}
    </div>

    <div class="error-message" *ngIf="form.get('name')?.hasError('maxlength') && ngForm.submitted">
      Maximum number of characters {{ form.get('name').errors.maxlength.requiredLength }}
    </div>

    <app-input
      class="home__form-input"
      *ngIf="form.get('gameId')"
      formControlName="gameId"
      [invalid]="form.get('gameId')?.invalid && ngForm.submitted"
      [placeholder]="'Enter game code'">
    </app-input>

    <div class="error-message" *ngIf="form.get('gameId')?.hasError('required') && ngForm.submitted">
      Required field
    </div>

    <app-button  class="home__form-button" type="submit" [type]="'danger'">
      START
    </app-button>

  </form>
</div>