<div class="home">
  <div class="home__form" [formGroup]="form">

    <app-toggle
      [controllers]="controllers"
      (onSwitch)="changeFormMode($event)">
    </app-toggle>

    <app-input 
      formControlName="name"
      [placeholder]="'Введите имя'"
    ></app-input>

    <app-input 
      *ngIf="form.get('gameId')"
      formControlName="gameId"
      [placeholder]="'Введите код игры'">
    </app-input>

    <app-button 
      [type]="'danger'"
      (click)="submit()">
      НАЧАТЬ
    </app-button>

  </div>
</div>