@import '../../../../../assets/styles/variables.scss';

.player {
  height: 100%;
  width: 100%;
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: map-get($color-primary, 800);

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: map-get($color-primary, 700);
    font-size: 1.5rem;
    border-radius: map-get($border-radius, small);
    box-shadow: $outside-shadow;
  }

  &__score {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    position: absolute;
    height: 50%;
    width: 100%;
    padding: 2rem 2.5rem;
    font-size: 1.1rem;
    left: 0;
    background-color: map-get($color-neutral, 500);
    border-radius: map-get($border-radius, small);
    box-shadow: $outside-shadow;
  }

  &_left-side  &__name {
    left: 0;
    right: auto;
  }

  &_left-side  &__score {
    justify-content: right;
    right: 0;
  }

}