@import 'variables.scss';

.message {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(2px);
  color: map-get($color-primary, 800);

  &__content {
    display: grid;
    gap: 1rem;
    width: 60%;
    padding: 3rem;
    font-size: 1.5rem;
    background-color: #efefef;
    box-shadow: 0px 0px 14px 4px inset;
    border-radius: map-get($border-radius, middle);
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2.5rem;

    &::before, &::after {
      content: '';
      flex-grow: 1;
      margin: 0 0.5rem;
      height: 0.3rem;
      background-color: currentColor;
      border-radius: map-get($border-radius, full); 
    }

    &::before {
      background-image: linear-gradient(to left, transparent, #efefef);
    }

    &::after {
      background-image: linear-gradient(to right, transparent, #efefef);
    }
  }

  &__body {
    display: grid;
    gap: 1rem;
    text-align: center;
    color: map-get($color-primary, 800);
  }

  &__footer {
    font-size: 2.5rem;
    text-align: center;
  }
  
  
  &_success {
    color: map-get($color-success, 500);
  }

  &_danger {
    color: map-get($color-danger, 500);
  }
}