<div [ngClass]="{
  'message': true,
  'message_visible': visible,
  'message_default': config.type === 'DEFAULT',
  'message_danger': config.type === 'DANGER',
  'message_success': config.type === 'SUCCESS'}">

  <ng-container [ngSwitch]="config.display">
    
    <div class="message__content" *ngSwitchCase="'INIT'">
      <div class="message__title">{{ config.title }}</div>
      <div class="message__body">
        <app-clipboard [text]="config.clipboard"></app-clipboard>
        <div>{{ config.body }}</div>
      </div>
      <div class="message__footer">
        <app-waiting-dots></app-waiting-dots>
      </div>
    </div>
  
    <div class="message__content" *ngSwitchCase="'WAIT'">
      <div class="message__title">{{ config.title }}</div>
      <div class="message__body">{{ config.body }}</div>
      <div class="message__footer">
        <app-waiting-dots></app-waiting-dots>
      </div>
    </div>
  
    <div class="message__content" *ngSwitchCase="'END'">
      <div class="message__title">{{ config.title }}</div>
      <div class="message__body">{{ config.body }}</div>
      <div class="message__footer">
        <app-button (onClick)="redirect($event)">На главную</app-button>
      </div>
    </div>

  </ng-container>

</div>