<div class="fleet">
  <div class="fleet__text">Fleet (available {{ fleet.length }} ships):</div>
  <div class="fleet__spawn">

    <div class="fleet__spawn-place" cdkDropList>
      <ng-container *ngIf="fleet.length > 0">
        <app-ship 
          id="fleet[0].id"
          [size]="fleet[0].size"
          [rotate]="fleet[0].rotate"

          cdkDrag
          [cdkDragDisabled]="!draggable"
          (cdkDragStarted)="dragStarted($event, fleet[0])"
          (cdkDragEnded)="dragEnded($event)">
            <div cdkDragHandle></div>
            <div *cdkDragPlaceholder></div>
        </app-ship>
      </ng-container>
    </div>

    <button 
      class="fleet__spawn-button"
      [disabled]="fleet.length == 0"
      (click)="rotate(fleet[0].id)" >
    </button>

  </div>
</div>