$background-gradient: 
  180deg, rgba(239, 229, 218, 0.9) 0%,
  rgba(232, 228, 217, 0.92) 22.11%, 
  rgba(213, 226, 215, 0.95) 53.69%, 
  rgba(183, 223, 211, 0.99) 90.8%, 
  rgba(174, 222, 210, 1) 100%;

$outside-shadow: 1px 0px 9px rgba(0, 0, 0, 0.3);

$color-primary: (
  500: #AEDED2,
  600: #C5E2DA,
  700: #5BB3BA,
  800: #126B86,
);

$color-success: (
  500: #408a2e,
);

$color-danger: (
  500: #BF475E,
);

$color-neutral: (
  500: #EFE5DA,
  600: #A39D9D,
);

$border-radius: (
  full: 9999px,
);

$control-size: (
  large: 5rem,
  medium: 4rem,
  small: 3rem,
);