<div class="deploy">
  <div class="deploy__platform">

    <app-fleet
      class="deploy__platform-fleet"
      [fleet]="gameService.player.fleet"
      (onRotate)="deployService.shipRotate($event)"
      (onDragStarted)="deployService.dragStarted($event)"
      (onDragEnded)="deployService.dragEnded($event)">
    </app-fleet>

    <fleet-map 
      class="deploy__platform-map"
      [deployedShips]="gameService.player.deployedShips"
      (onDragStarted)="deployService.dragStarted($event)"
      (onDragEnded)="deployService.dragEnded($event)">
      <app-board 
        [board]="gameService.player.board.grid"
        (onSquareHover)="deployService.squareHover($event)"
        (onSquareLeave)="deployService.squareLeave($event)">
      </app-board>
    </fleet-map>

    <div class="deploy__platform-buttons">
      <app-button [type]="'danger'">ПОКИНУТЬ БОЙ</app-button>
      <app-button [type]="'primary'" (click)="ready()">ГОТОВ К БОЮ</app-button>
    </div>
    
  </div>

  <ng-container *ngIf="gameService.game.state === 'INIT'">
    <app-message class="deploy__message">
      <div title>Код приглашения: <app-clipboard [text]="gameService.game.id"></app-clipboard></div>
      <div body>Отправьте код второму игроку. Расстановка кораблей начнется сразу после присоединение противника</div>
      <div footer>ОЖИДАНИЕ...</div>
    </app-message>
  </ng-container>

  <ng-container *ngIf="gameService.player.ready">
    <app-message class="deploy__message">
      <div title>ВНИМАНИЕ!</div>
      <div body>Бой начнется после того как противник расставит свои корабли</div>
      <div footer>ОЖИДАНИЕ...</div>
    </app-message>
  </ng-container>

</div>