<div class="deploy">
  <div class="deploy__platform">

    <app-fleet
      class="deploy__platform-fleet"
      [draggable]="!gameService.player.ready"
      [fleet]="gameService.player.fleet"
      (onRotate)="deployService.shipRotate($event)"
      (onDragStarted)="deployService.dragStarted($event)"
      (onDragEnded)="deployService.dragEnded($event)">
    </app-fleet>

    <fleet-map 
      class="deploy__platform-map"
      [draggable]="!gameService.player.ready"
      [deployedShips]="gameService.player.deployedShips"
      (onDragStarted)="deployService.dragStarted($event)"
      (onDragEnded)="deployService.dragEnded($event)">
      <app-board 
        [board]="gameService.player.board.gridSubject | async"
        (onSquareHover)="deployService.squareHover($event)"
        (onSquareLeave)="deployService.squareLeave($event)">
      </app-board>
    </fleet-map>

    <div class="deploy__platform-buttons">
      <app-button [type]="'danger'">CANCEL BATTLE</app-button>
      <app-button 
        [type]="'primary'"
        [disabled]="gameService.player.ready"
        (click)="ready()"
        >READY FOR BATTLE
      </app-button>
    </div>
    
  </div>

  <app-message
    [visible]="messageService.visible | async"
    [config]="messageService.currentMessage | async">
  </app-message>

</div>